* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: 20px arial, sans-serif;
  text-decoration: none;
  list-style-type: none;
  color: rgba(15, 0, 15, 0.8);
}
.container {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 2fr 8fr 1fr;
  width: 100%;
  height: 100vh;
  grid-gap: 10px;
}

.header {
  grid-column: 2;
  grid-row: 1/2;
  align-self: end;
  margin: 0 0 10px 0;
  border-top: 5px solid rgba(15, 0, 15, 0.2);
}

.header_grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.social_media {
  display: flex;
  justify-content: flex-start;
  grid-column: 1/3;
  grid-row: 2/3;
}

.fab {
  margin: 0 20px;
}

.search_bar {
  grid-column: 5/6;
  grid-row: 2/3;
}

.side_bar {
  grid-column: 1/2;
  grid-row: 2/4;
  text-align: center;
  border-right: 5px solid rgba(15, 0, 15, 0.2);
}

.side_bar_grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.contact {
  grid-column: 2/3;
  grid-row: 3/4;
}

.gallery {
  grid-column: 2/3;
  grid-row: 2/3;
  overflow-y: scroll;
}

.galleryflex {
  display: flex;
  flex-wrap: wrap;
}

.description {
  opacity: 0;
  text-align: center;
  color: rgba(20, 20, 20, 0.9);
}

.flex_group_1 .flex_group_2 .flex_group_3 .flex_group_4 .flex_group_5 {
  display: flex;
}

.details {
  position: absolute;
  margin: 30px 0 0 0;
}

.header li {
  display: inline;
  margin: 5px;
  align-self: center;
}

.header input {
  float: left;
  border: 2px solid rgba(16, 0, 16, 0.3);
}

.search_bar input {
  border-style: inset;
  border-bottom-color: rgba(20, 0, 20, 0.5);
}

.side_bar h1 {
  font-size: 25px;
  font-weight: bold;
}

.side_bar button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
  transition-duration: 0.4s;
  position: relative;
}

.break-up {
  margin: 15px 0;
}

.side_bar button:hover {
  margin: 0 0 0 15px;
}

.side_bar li {
  margin: 5px 5px 15px;
}

.all {
  position: relative;
  width: 250px;
}

.gallery-img {
  object-fit: contain;
  width: 100%;
  max-height: 275px;
  padding: 2px;
}

.info_div {
  opacity: 0;
  transition: 0.5s;
  position: relative;
  height: 100%;
  z-index: -1;
}

.info {
  opacity: 0;
  transition: 0.5s;
  height: 100%;
}

.content {
  opacity: 0;
  transition: 0.5s;
  height: 100%;
  max-width: 50%;
  min-width: 640px;
}

.why {
  opacity: 0;
  transition: 0.5s;
  height: 100%;
}

.contact li {
  display: inline;
  margin: 50px;
}

.contact p {
  display: inline;
  font-weight: bold;
}
.showcase {
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  z-index: 10;
}
.showcase_img {
  width: 40%;
  margin: 50px 0% 0% 35%;
  max-width: 800px;
  max-height: 100%;
}
/* Add Animation */
.showcase_img {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
